<h1>Simple task manager</h1>

<h3>Features</h3>
<ul>
  <li>Register in system</li>
  <li>Login into system</li>
  <li>Add new task</li>
  <li>Edit task</li>
  <li>Delete task</li>
  <li>Share task (share using email of another user in the system who will be also able to manage task afterwards)</li>
  <li>See list of tasks</li>
    <ul>
      <li>list auto-updates when someone shares tasks with user</li>
      <li>in the list user can see who has shared task</li>
    </ul>
  <li>Used Twitter Bootstrap for UI</li>
  <li>Covered code by Rspec tests</li>
</ul>
